<h3>
  <%= @header %>
</h3>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem accusamus eius mollitia beatae cupiditate quae quas, itaque laborum pariatur consequuntur praesentium dolorem corporis laboriosam ratione modi aut quasi tempore! Harum!
</p>

<p>
  Atque ea provident alias vitae vel nam repellendus, deserunt nisi architecto officiis dolor, sint dolorem! Aliquid modi possimus, quia omnis maxime rerum eum nisi similique, repellendus, atque beatae impedit dolorum.
</p>

<p>
  Fugiat sapiente harum beatae in consequatur, inventore perspiciatis! Perferendis numquam, eius provident aut vitae voluptas assumenda quidem sit quia consequatur ipsam cum, eos fuga architecto alias sint consequuntur illum. Pariatur?
</p>