<% provide(:title, @title ||= "All Categories") %>

<h1>
  <%= @title %>
</h1>

<ul>
  <% @calendar.diff_date_ranges.each do |date| %>
    <li>
      <%= link_to date[:label], "/categories/#{date[:date]}" %>
    </li>
  <% end %>
</ul>
